
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Move down */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
  }
}

.fadeInCustom {
  animation: fadeIn 0.5s forwards;
}
